@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

main {
  background-color: #f2f3f3;
}

.MainTitle {
  text-align: center;
  color: var(--gray);
  margin-top: 50px;
}

#Header .BarIcons {
  background-color: var(--yellow);
}

#Header .BarIcons_field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#Header .BarIcons .bi {
  font-size: 30px;
}

#Header .BarIconsBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  gap: 20px;
}

#Header .BarIcons_field-text {
  color: var(--gray);
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

#Header .MainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

#Header .MainHeaderLogo img {
  height: 100px;
}

#Header .MainHeaderNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

#Header .MainHeaderNav_item {
  list-style: none;
}

#Header .MainHeaderNav_menu {
  background: transparent;
  width: 50px;
}

#Header .MainHeaderNav .bi {
  font-size: 40px;
}

#Home .Home {
  height: 600px;
  width: 100%;
}

#Home .HomeImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#HomeBoxSearch .accordion {
  background-color: var(--yellow);
  margin-top: -50px;
  z-index: 1000;
  position: relative;
  max-width: 1600px;
  --bs-accordion-btn-focus-box-shadow: none !important;
}

#HomeBoxSearch .AccordionHeaders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

#HomeBoxSearch .accordion-button {
  background-color: transparent !important;
  font-weight: bold;
}

#HomeBoxSearch .accordion-button::after {
  display: none !important;
}

#HomeBoxSearch .accordion-button:not(.collapsed) {
  color: #fff !important;
  border-bottom: 5px solid var(--gray);
  box-shadow: none !important;
}

#HomeBoxSearch .accordion-item {
  background-color: transparent !important;
  border: 0 !important;
}

#HomeBoxSearch .HomeBoxSearchForm {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#HomeBoxSearch .HomeBoxSearchForm_input {
  width: 70%;
  height: 70px;
  padding-left: 20px;
  border-radius: 20px;
  border: 1px solid var(--gray);
  font-size: 24px;
}

#HomeBoxSearch .HomeBoxSearchForm_btn {
  height: 70px;
  width: 30%;
  background-color: var(--gray);
  color: #fff;
  font-size: 24px;
  border-radius: 20px;
  border: 1px solid #fff;
}

#SearchByBrand .SearchByBrandCarousel {
  height: 100%;
  margin-bottom: 100px;
  margin-top: 50px;
  padding: 0 100px;
}

#SearchByBrand .SearchByBrandCarousel .item {
  width: 150px;
  height: 120px;
}
#SearchByBrand .SearchByBrandCarousel .item img {
  width: 100%;
  height: 100%;
}

#Highlights .HighlightsCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  justify-content: center;
  gap: 30px;
}

#Highlights .Card {
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
}

#Highlights .Card img {
  width: 100%;
}

#Highlights .Card_title {
  color: var(--gray);
  background-color: var(--yellow);
  padding: 15px 0 15px 15px;
}

#Highlights .Card_desc-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 5px;
}

#Highlights .Card_desc-text {
  color: var(--gray-3);
  padding: 0 15px;
  margin-bottom: 0;
}

#Highlights .Card_value {
  color: var(--gray);
  padding: 15px 0 15px 15px;
}

@media screen and (min-width: 0) {
  .MainTitle {
    font-size: 30px;
  }

  #HomeBoxSearch .accordion {
    padding: 20px;
    border-radius: 0;
  }
  #HomeBoxSearch .AccordionHeaders {
    flex-direction: column;
  }
  #HomeBoxSearch .accordion-button {
    font-size: 20px;
    text-align: center;
  }

  #SearchByBrand .SearchByBrandCarousel {
    padding: 0 10px;
  }
}

@media screen and (min-width: 400px) {
  .MainTitle {
    font-size: 35px;
  }
}

@media screen and (min-width: 576px) {
  .MainTitle {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  #HomeBoxSearch .accordion {
    padding: 30px;
  }
  #HomeBoxSearch .AccordionHeaders {
    flex-direction: row;
  }

  #HomeBoxSearch .MainTitle {
    font-size: 40px;
  }
  #SearchByBrand .SearchByBrandCarousel {
    padding: 0 50px;
  }
}

@media screen and (min-width: 992px) {
  .MainTitle {
    font-size: 50px;
  }
  #Header .MainHeader {
    gap: 150px;
  }
  #Header .BarIcons_field-text {
    font-size: 16px;
  }
  #Header .MainHeaderNav_menu {
    display: none;
  }
  #SearchByBrand .SearchByBrandCarousel {
    padding: 0 70px;
  }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1400px) {
  #Header .MainHeaderNav_item {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  #Header .MainHeaderNav_item {
    font-size: 20px;
  }
  #HomeBoxSearch .accordion {
    border-radius: 40px;
  }
}

@media screen and (max-width: 300px) {
  #Header .MainHeaderLogo img {
    height: 80px;
  }
}

@media screen and (max-width: 500px) {
  #Header .BarIcons_field-text {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #Header .MainHeaderNav_item {
    display: none;
  }
}
